*{
    margin: 0;
}

body {
    background-color: #BEB8EB;
}
main, footer {
    background-color: #9284FA;
}

.expand, .modal{
    display: none;
}

.header {
    border: black solid 5px;
    border-radius: 25px;
}

#bakerInformation, #inspireInformation{
    width: 15%;
    border: black solid 5px;
    text-align: center;
    background-color: #F2F3D9;
    padding: 20px;
}

#bakerInformation {
    height: 30%;
}

#gitHubLink {
    color: #9284FA;
    text-decoration: none;
    margin-left: 250px;
}

#gitHubLink:hover, #cookieClicker:hover {
    color: #FFFFFF;
}

#cookieClicker {
    color: #9284FA;;
    text-decoration: none;
}

.navBtn, #resetBtn, #autoBtn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Inter" ,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navBtn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.navBtn:hover {
    background-color: #5439C1;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: #F2F3D9;
    margin: 20% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border: 5px solid #5439C1;
}

#closeModal{
    cursor: pointer;
    float: right;
    font-size: 30px;

}

#donutHeader, #counter, #auto-counter, #bakerDisplay, #bakersCorner {
    text-align: center;
    padding: 10px;
    font-family: "Inter" ,sans-serif;
}

#counter, #auto-counter {
    font-size: 20px;
}

#donutBtn {
    background: none;
    border: none;
    margin-left: 200px;
    cursor: pointer;
}

#donutStyle {
    background-color: #BEB8EB;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.auto-click {
    background-color: #BEB8EB;
    border-radius: 25px;
    margin-right: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

#bakersCorner {
    margin-top: 30px;
}

#auto-counter {
    text-align: center;
    padding: 50px;

}

#autoBtn {
    margin-left: 330px;
}

#bakerPng {
    width: 300px;
    height: 300px;
    margin-left: 200px;
    padding: 50px;
}

#pngAttribution {
    color: #FFFFFF;
    text-decoration: none;
}

#pngAttribution:hover {
    color: #5439C1;
}

.footer {
    text-align: center;
}